#data tbody tr.unselected { background-color: white; }
#data tbody tr.selected { background-color: #B0BED8; }
#data tbody tr.gold { background-color: #FFD700; }

.bottom-margin { margin-bottom: 0.5cm; }

input.text { width: 300px; }

input.numeric { width: 40px; }

label.topLabel {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 250px;
}

label.botLabel {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 430px;
}

/* no text highlighting in table */
#data {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
