#data tbody tr.unselected { background-color: white; }
#data tbody tr.selected { background-color: #B0BED8; }
#data tbody tr.gold { background-color: #FFD700; }

.bottom-margin { margin-bottom: 0.5cm; }

input[name='title'], input[name='description'], input[name='categories'] {
	width: 300px;
}

input[name='labelsPerRecord'], input[name='reward'], input[name='rejectionThreshold'],
input[name='minBatchSize'], input[name='HITduration'], input[name='percentOfGold'] {
	width: 40px;
}

label.topLabel {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 140px;
}

label.botLabel {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 430px;
}

/* no text highlighting in table */
#data {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
