#data tbody tr.selected { background-color: #B0BED8; }
#data tbody tr { background-color: white; }
.bottom-margin { margin-bottom: 0.75cm; }

input[name='title'], input[name='description'] {
	width: 300px;
}

input[name='numAssignments'], input[name='reward'], input[name='percentFailed'] {
	width: 40px;
}

label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 170px;
}
